* {
    margin: 0px;
}

body {
    background-color: #a2c6e0;
    margin: auto;
    border: 5px solid #000;
    height: 768px;
    width: 1024px;
}

.Header {
    height: 150px;
    width: 700px;
    background-color: #000;   
}

.Subheader {
    height: 100px;
    width: 700px;
    background-color: gray;
}

.Pathway {
    height: 768px;
    width: 325px;
    background-color: white;
    position: relative; 
    top: -250px;
    left: 700px;
    z-index: -1
}

.Reveal1_1 {
    background-color: #0c3021;
    color: white;
    cursor: pointer;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 700;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 30px;
    position: relative;
    top: -775px;
}

.active, .Reveal1_1:hover {
    background-color: #21634c;
}

.Income {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -775px;
}

.Reveal2_1 {
    background-color: #0c3021;
    color: white;
    cursor: pointer;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 700;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 30px;
    position: relative;
    top: -725px;
}

.active, .Reveal2_1:hover {
    background-color: #21634c;
}

.Tax {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -725px;
}

.Reveal3_1 {
    background-color: #0c3021;
    color: white;
    cursor: pointer;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 700;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 30px;
    position: relative;
    top: -675px;
}

.active, .Reveal3_1:hover {
    background-color: #21634c;
}

.Monthly {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -675px;
}

.Next {
    position: absolute;
    top: 700px;
    left: 1150px;
    font-size: 30px;
}