* {
    margin: 0px;
}

body {
    background-color: #a2c6e0;
    margin: auto;
    border: 5px solid #000;
    height: 768px;
    width: 1024px;
}

.Header h1{
    font-family: "copperplate",serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    position: relative;
    left: 20px;
    top: 10px;
}

.Subheader h2{
   font-family: "copperplate",serif;
    font-style: normal;
    font-weight: 300; 
    font-size: 26px;
    position: relative;
    top: 10px;
    left: 20px;
}

.Pathway {
    position: relative;
    top: -95px;
    left: 800px;
    z-index: -1;
}

.Beginning {
    position: relative;
    top: 600px;
    left: 815px;
    z-index: 1;
}

.DiplomaBooks {
    position: relative;
    top: -475px;
    left: 100px;
    transform: scale(.8,.8)
}

.Yes {
    position: relative;
    top: -750px;
    left: 50px;
}

.Info {
    position: relative;
    top: -750px;
    left: 200px;
}

.Kind {
    position: relative;
    top: -825px;
    left: 250px;
}