* {
    margin: 0px;
}

body {
    background-color: #a2c6e0;
    margin: auto;
    border: 5px solid #000;
    height: 768px;
    width: 1024px;
}

.Header h1 {
    font-family: "copperplate",serif;
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    position: relative;
    left: 20px;
    top: 10px;
}

.Subheader h2 {
    font-family: "copperplate", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    width: 850px;
    position: relative;
    left: 20px;
    top: 20px;
}

.Pathway {
    position: absolute;
    left: 1150px;
    top: 60px;
    z-index: -1;
}

.Next {
    position: absolute;
    left: 700px;
    top: 680px;
}

.HighSchool {
    background-color: #23634c;
    border-radius: 8px;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-top: 50px;
    margin-left: 25px;
    position: absolute;
}

#HighSchoolSalary {
    display: none;
    width: 186px;
    height: 65px;
    background: #95bcad;
    border-radius: 100px / 50px;
    margin-left: 45px;
    margin-top: 125px;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    padding: 15px;
    position: absolute;
}

.Associates {
    background-color: #23634c;
    border-radius: 8px;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-top: 50px;
    margin-left: 325px;
    position: absolute;
}

#AssociatesSalary {
    display: none;
    width: 186px;
    height: 65px;
    background: #95bcad;
    border-radius: 100px / 50px;
    margin-top: 125px;
    margin-left: 330px;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;   
    text-align: center;
    padding: 15px;
    position: absolute;
}

.Bachelors {
    background-color: #23634c;
    border-radius: 8px;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-top: 50px;
    margin-left: 600px; 
    position: absolute;
}

#BachelorsSalary {
    display: none;
    width: 186px;
    height: 65px;
    background: #95bcad;
    border-radius: 100px / 50px;
    margin-top: 125px;
    margin-left: 600px;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;   
    text-align: center;
    padding: 15px;
    position: absolute;
}

.Masters {
    background-color: #23634c;
    border-radius: 8px;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-top: 300px;
    margin-left: 60px;
    position: absolute;
}

#MastersSalary {
    display: none;
    width: 186px;
    height: 65px;
    background: #95bcad;
    border-radius: 100px / 50px;
    margin-top: 375px;
    margin-left: 45px;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;   
    text-align: center;
    padding: 15px;
    position: absolute;  
}

.Doctoral {
    background-color: #23634c;
    border-radius: 8px;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-top: 300px;
    margin-left: 345px;
    position: absolute;    
}

#DoctoralSalary {
    display: none;
    width: 186px;
    height: 65px;
    background: #95bcad;
    border-radius: 100px / 50px;
    margin-top: 375px;
    margin-left: 330px;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;   
    text-align: center;
    padding: 15px;
    position: absolute;
}

.Professional {
    background-color: #23634c;
    border-radius: 8px;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-top: 300px;
    margin-left: 575px;
    position: absolute;
}

#ProfessionalSalary {
    display: none;
    width: 186px;
    height: 65px;
    background: #95bcad;
    border-radius: 100px / 50px;
    margin-top: 375px;
    margin-left: 600px;
    font-family: "century-old-style-std",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;   
    text-align: center;
    padding: 15px;
    position: absolute;
}
