body {
    background-color: #e2d3ba;
    font-family: sans-serif;
    margin:auto;
    max-height: 1024px;
    max-width: 768px;        
    border: 5px solid #000;
    height: 1024px;
    width: 768px;
}

.Header {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: relative;
    margin-top: -0px;
    margin-right: 160px;
    font-size: 135px;
    text-align: left;
    font-family: "modesto-text",serif;
    font-style: normal;
    font-weight: 700;
    z-index: 5;
}

.Letter h1{
    font-family: "modesto-text",serif;
    font-style: normal;
    font-weight: 700;
    font-size: 275px;
    position: absolute;
    height: 300px;
    margin-top: -662px;
    margin-left: 325px;
}

.rightcircle {
    width: 300px;
    height: 150px;
    background-color: #e2d3ba;
    border-top-left-radius: 495px;
    border-top-right-radius: 495px;
    border: 10px solid black;
    border-bottom: 0;
    transform: rotate(270deg);
    position: absolute;
    margin-top: -585px;
    margin-left: 530px;
}

.Sample p{
    z-index: 1; 
    font-family: "modesto-text",serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    margin-top: 115px;
    margin-left: 0px;
    line-height: 50px;
    writing-mode: vertical-rl;
}

#Button {
    z-index: 30;
    position: absolute;
    margin-top: -555px;
    margin-left: 630px;
}

.topcircle {
    width: 450px;
    height: 225px;
    background-color: #e2d3ba;
    border-top-left-radius: 495px;
    border-top-right-radius: 495px;
    border: 10px solid black;
    border-bottom: 0;
    transform: rotate(180deg);
    position: absolute;
    margin-top: -1024px;
    margin-left: 300px;
}

.Information p{
    transform: rotate(180deg);
    font-family: "modesto-text", serif; 
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    width: 300px;
    height: 200px;
    text-align: center;
    margin-left: 75px;
}

.bottomcircle {
    width: 450px;
    height: 225px;
    background-color: #e2d3ba;
    border-top-left-radius: 495px;
    border-top-right-radius: 495px;
    border: 10px solid black;
    border-bottom: 0;
    transform: rotate(0deg);
    position: absolute;
    margin-top: -230px;
    margin-left: 300px;
}

.Image {
    margin-top: 25px;
    margin-left: 200px;
}

.SelfInfo {
    font-family: "modesto-text", serif; 
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: -15px;
}

.Sources {
    font-family: "modesto-text", serif; 
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    margin-top: -15px;
}

.center {
    position: absolute;
    z-index: -10;
    margin-top: -1022.5px;
}

.empty {    
    border-radius: 50%;
}

.analysiscircle {
    border-radius: 50%;
}

.analysis {
    position: absolute;
    z-index: 20;
    margin-top: -655px;
    margin-left: 267px; 
}