* {
    margin: 0px;
}

body {
    background-color: #a2c6e0;
    margin: auto;
    border: 5px solid #000;
    height: 768px;
    width: 1024px;
}

.Header {
    height: 200px;
    width: 750px;
    background-color: #000;   
    position: relative;
}

.Subheader {
    height: 100px;
    width: 750px;
    background-color: gray;
    position: relative;
}

.Pathway {
    height: 768px;
    width: 300px;
    background-color: white;
    position: relative;
    left: 725px;
    top: -300px;
}

.HighSchool {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: green;
    position: relative;
    top: -700px;
    left: 150px
}

.College {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: green;
    position: relative;
    top: -800px;
    left: 400px;
}