*{
    margin: 0;
}

body {
    border-left: .1875rem solid #000;
    border-right: .1875rem solid #000;
    border-top: .1875rem solid #000;
    width: 22.5rem;
    margin: auto;
}

.menu {
    font-size: 2.1875rem;
    cursor: pointer;
    margin-left: .625rem;
}

.menu:hover {
    background-color: #fff;
    color: #818181;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2.75rem;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1.5625rem;
    font-size: 3.075rem;
    margin-right:-1.125rem;
}

.sidenav a {
    padding: .5rem .5rem .5rem 2rem;
    text-decoration: none;
    font-size: 2.1875rem;
    margin-right: 1rem;
    font-family: mrs-eaves,serif;
    font-weight: 400;
    font-style: normal;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.Header {
    font-family: regulator-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem; 
    text-align: center;
    margin-top: -2.5rem;
    margin-left: 2rem;
}

.HeaderBar {
    width: 22.5rem;
    height: 3.5rem;
    background-color: #959a9d;
    margin-top: -2.9rem;
}

.Project2 {
    transform: scale(.25);
    margin-top: -18rem;
    margin-left: -11.5rem;
}

.TheProject {
    margin-top: -19rem;
    text-align:center;
    font-family: regulator-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}

.ProjectDescription {
    font-family: mrs-eaves, serif;
    font-weight: 500;
    font-style: normal; 
    width: 20rem;
    text-align: center;
    margin-left: 1.25rem;
}

.Process {
    text-align:center;
    font-family: regulator-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.Photo1 {
    transform: scale(.47);
    margin-left: -7.1rem;
    margin-top: -11rem;
}

.Number1 {
    font-family: mrs-eaves,serif;
    font-weight: 600;
    font-style: normal;
    color: #a53f40;
    font-size: 2rem;
    text-align: center;
    margin-top: -12rem;
}

.Description1 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    text-align: center;
}

.Photo2 {
    transform: scale(.47);
    margin-left: -7.1rem;
    margin-top: -11rem;
}

.Number2 {
    font-family: mrs-eaves,serif;
    font-weight: 600;
    font-style: normal;
    color: #a53f40;
    font-size: 2rem;
    text-align: center;
    margin-top: -12rem;
}

.Description2 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    text-align: center;
}

.Photo3 {
    transform: scale(.47);
    margin-left: -7.1rem;
    margin-top: -11rem;
}

.Number3 {
    font-family: mrs-eaves,serif;
    font-weight: 600;
    font-style: normal;
    color: #a53f40;
    font-size: 2rem;
    text-align: center;
    margin-top: -12rem;
}

.Description3 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    text-align: center;
}

.Photo4 {
    transform: scale(.47);
    margin-left: -7.1rem;
    margin-top: -11rem;
}

.Number4 {
    font-family: mrs-eaves,serif;
    font-weight: 600;
    font-style: normal;
    color: #a53f40;
    font-size: 2rem;
    text-align: center;
    margin-top: -12rem;
}

.Description4 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    text-align: center;
}

.Photo5 {
    transform: scale(.47);
    margin-left: -7.1rem;
    margin-top: -11rem;
}

.Number5 {
    font-family: mrs-eaves,serif;
    font-weight: 600;
    font-style: normal;
    color: #a53f40;
    font-size: 2rem;
    text-align: center;
    margin-top: -12rem;
}

.Description5 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    text-align: center;
}

.Box {
    width: 22.5rem;
    height: 1.5rem;
    background-color: #959a9d;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.Box a {
    text-decoration: none;
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    padding: 0 1.875rem;
    margin-left: -.75rem;
}

.Box a:hover{
    background-color: #000;
    color: #fff;
}

@media screen and (min-width: 768px) {
    body {
        width: 48rem;
    }
    
    .menu {
        font-size: 3rem;
    }
    
    .sidenav a {
        font-size: 3rem;
    }
    
    .Header {
        font-size: 2.75rem;
        margin-top: -3.5rem;
    }
    
    .HeaderBar {
        height: 4.5rem;
        width: 48rem;
        margin-top: -4rem;
    }
    
    .Project2 {
        transform: scale(.5);
        margin-top: -10rem;
    }
    
    .TheProject {
        margin-top: -10rem;
        font-size: 2rem;
    }
    
    .ProjectDescription {
        margin-top: 1rem;
        font-size: 1.5rem;
        width: 40rem;
        margin-left: 4rem;
    }
    
    .Process {
        font-size: 2rem;
    }
    
    .Photo1 {
        transform: scale(.7);
        margin-top: -5rem;
        margin-left: .5rem;
    }
    
    .Number1 {
        font-size: 3.5rem;
        margin-top: -5rem;
    }
    
    .Description1 {
        font-size: 2rem;
    }
    
    .Photo2 {
        transform: scale(.7);
        margin-top: -5rem;
        margin-left: 1rem;
    }
    
    .Number2 {
        font-size: 3.5rem;
        margin-top: -5rem;
        margin-left: .5rem;
    }
    
    .Description2 {
        font-size: 2rem;
    }
    
    .Photo3 {
        transform: scale(.7);
        margin-top: -5rem;
        margin-left: 1rem;
    }
    
    .Number3 {
        font-size: 3.5rem;
        margin-top: -7rem;
        margin-left: .5rem;
    }
    
    .Description3 {
        font-size: 2rem;
    }
    
    .Photo4 {
        transform: scale(.7);
        margin-top: -5rem;
        margin-left: 1rem;
    }
    
    .Number4 {
        font-size: 3.5rem;
        margin-top: -7rem;
        margin-left: .5rem;
    }
    
    .Description4 {
        font-size: 2rem;
    }
    
    .Photo5 {
        transform: scale(.7);
        margin-top: -5rem;
        margin-left: 1rem;
    }
    
    .Number5 {
        font-size: 3.5rem;
        margin-top: -7rem;
        margin-left: .5rem;
    }
    
    .Description5 {
        font-size: 2rem;
    }
    
    .Box {
        width: 48rem;
        height: 2.5rem;
    }
    
    .Box a {
        font-size: 2rem;
        margin-left: 2.5rem;
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 75rem;
    }
    
    .menu {
        font-size: 4rem;
    }
    
    .sidenav a {
        font-size: 4rem;
    }
    
    .sidenav closebtn {
        font-size: 4rem;
    }
    
    .Header {
        font-size: 3.7rem;
        margin-top: -5rem;
    }
    
    .HeaderBar {
        margin-top: -4.8rem;
        height: 5.2rem;
        width: 75rem;
    }
    
    .Project2 {
        transform: scale(.8);
        margin-left: -2rem;
        margin-top: -2rem;
        margin-top: 3rem;
    }
    
    .TheProject {
        font-size: 3rem;
        margin-top: -53rem;
    }
    
    .ProjectDescription {
        font-size: 2.25rem;
        width: 70rem;
        margin-left: 2rem;
        margin-top: 45rem;
    }
    
    .Process {
        font-size: 3rem;
    }
    
    .Photo1 {
        transform: scale(.85);
        margin-top: -1rem;
        margin-left: -1rem;
    }
    
    .Number1 {
        font-size: 4.5rem;
        margin-left: 43rem;
        margin-top: -30rem;
    }
    
    .Description1 {
        margin-left: 49rem;
        width: 20rem;
        font-size: 2.5rem;
    }
    
    .Photo2 {
        transform: scale(.85);
        margin-top: 14rem;
        margin-left: 30rem;
    }
    
    .Number2 {
        font-size: 4.5rem;
        margin-left: -43rem;
        margin-top: -30rem;
    }
    
    .Description2 {
        margin-left: 6rem;
        font-size: 2.5rem;
        width: 20rem;
    }
    
    .Photo3 {
        transform: scale(.85);
        margin-top: 20rem;
        margin-left: -1rem;
    }
    
    .Number3 {
        font-size: 4.5rem;
        margin-left: 43rem;
        margin-top: -30rem;
    }
    
    .Description3 {
        margin-left: 49rem;
        width: 20rem;
        font-size: 2.5rem;
    }
    
    .Photo4 {
        transform: scale(.85);
        margin-top: 14rem;
        margin-left: 30rem;
    }
    
    .Number4 {
        font-size: 4.5rem;
        margin-left: -43rem;
        margin-top: -30rem;
    }
    
    .Description4 {
        margin-left: 6rem;
        font-size: 2.5rem;
        width: 20rem;
    }
    
    .Photo5 {
        transform: scale(.85);
        margin-top: 20rem;
        margin-left: -1rem;
    }
    
    .Number5 {
        font-size: 4.5rem;
        margin-left: 43rem;
        margin-top: -30rem;
    }
    
    .Description5 {
        margin-left: 49rem;
        width: 20rem;
        font-size: 2.5rem;
    }
    
    .Box {
        margin-top: 20rem;
        width: 75rem;
        height: 3rem;
    }
    
    .Box a {
        font-size: 2.5rem;
        margin-left: 6rem;
    }
}