*{
    margin: 0;
}

.menu {
    font-size: 2.1875rem;
    cursor: pointer;
    margin-left: .625rem;
}

body {
    border-left: .1875rem solid #000;
    border-right: .1875rem solid #000;
    border-top: .1875rem solid #000;
    width: 22.5rem;
    margin: auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2.75rem;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1.5625rem;
    font-size: 3.075rem;
    margin-right:-1.125rem;
}

.sidenav a {
    padding: .5rem .5rem .5rem 2rem;
    text-decoration: none;
    font-size: 2.1875rem;
    margin-right: 1rem;
    font-family: mrs-eaves,serif;
    font-weight: 400;
    font-style: normal;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.Header {
    font-family: regulator-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    margin-top: -2.5rem;
}

.HeaderBar {
    width: 22.5rem;
    height: 3.5rem;
    background-color: #959a9d; 
    margin-top: -2.9em;
}

.Project1 {
    transform: scale(.25);
    margin-top: -17.5rem;
    margin-left: -12rem;
}

.TheProject {
    margin-top: -19.7rem;
    text-align: center;
    font-family: regulator-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
}

.ProjectDescription {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;   width: 20rem;
    text-align: center;
    margin-left: 1.5rem;
}

.Process {
    font-family: regulator-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    text-align:center;
    margin-top: 1rem;
}

.Photo1 {
    transform: scale(.28);
    margin-top: -13rem;
    margin-left: -12.5rem;
}

.Number1 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    color: #e64027;
    font-size: 2rem;
    margin-top: -14rem;
    text-align: center;
}

.Description1 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 1.25rem;
}

.Photo2 {
    transform: scale(.335);
    margin-left: -11.25rem;
    margin-top: -11rem;
}

.Number2 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    color: #e64027;
    font-size: 2rem;
    text-align: center;
    margin-top: -13rem;
}

.Description2 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 1.25rem;
}

.Photo3 {
    transform: scale(.335);
    margin-left: -11.25rem;
    margin-top: -11rem;
}

.Number3 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    color: #e64027;
    font-size: 2rem;
    text-align: center;
    margin-top: -13rem;
}

.Description3 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 1.25rem;
}

.Photo4 {
    transform: scale(.335);
    margin-left: -11rem;
    margin-top: -11rem;
}

.Number4 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    color: #e64027;
    font-size: 2rem;
    text-align: center;
    margin-top: -13rem;
}

.Description4 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 1.25rem;
}

.Photo5 {
    transform: scale(.335);
    margin-left: -11rem;
    margin-top: -11rem;
}

.Number5 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    color: #e64027;
    font-size: 2rem;
    text-align: center;
    margin-top: -13rem;
}

.Description5 {
    font-family: mrs-eaves,serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 1.25rem;
}

.Box {
    width: 22.5rem;
    height: 2.5rem;
    background-color: #959a9d;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}